# .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.sln.docstates
.vs/
*.db
appsettings.Development.json

# Angular
client/node_modules/
client/dist/
client/.angular/
client/.sass-cache/
client/*.log
client/npm-debug.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
*.log
*.tmp
